 .u-section-1 {
  background-image: url("images/pexels-jeffrey-eisen-2387725.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1212px;
}

.u-section-1 .u-group-1 {
  width: 726px;
  min-height: 742px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  background-image: none;
  margin: 249px auto 60px 205px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  text-shadow: 6px 2px 1px rgba(41,46,51,0.9);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 95px auto 0;
}

.u-section-1 .u-form-1 {
  height: 362px;
  margin: 58px 40px 0 48px;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-1 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 1px;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 27px 30px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: 40px 40px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: -28px auto 0 48px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 180px;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-1 .u-group-1 {
    width: 658px;
    min-height: 678px;
    margin-top: 163px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 81px;
  }

  .u-section-1 .u-form-1 {
    height: 366px;
    margin-top: 41px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 29px;
    margin-right: 37px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-1 .u-group-1 {
    min-height: 651px;
    width: 517px;
    margin-top: 256px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-scale: 1;
    margin-top: 54px;
  }

  .u-section-1 .u-form-1 {
    width: 445px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    width: 99%;
    padding-top: 26px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 34px;
    margin-right: 30px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1 .u-group-1 {
    min-height: 691px;
    margin-top: 186px;
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-form-1 {
    width: 275px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 54px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 26px;
    margin-left: 28px;
  }
}